@import "../node_modules/@doraemon-ui/style/lib/index.less";

// Accordion themes
// -----------------------------
@accordion-prefix-cls: ~'@{dora-prefix}-accordion';
@accordion-color: @black;
@accordion-bg: @component-background;
@accordion-hd-padding: @spacing-xl @spacing-xl @spacing-base;
@accordion-ft-padding: @spacing-base @spacing-xl @spacing-xl;
@accordion-panel-icon-size: 20px;
@accordion-panel-hd-padding: @spacing-xl;
@accordion-panel-hd-padding-extra: @spacing-xl * 2;
@accordion-panel-bd-padding: @spacing-xl;
