@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Progress themes
// -----------------------------
@progress-prefix-cls: ~'@{dora-prefix}-progress';
@progress-default-color: var(--dora-progress-default-color, #387ef5);
@progress-remaining-color: var(--dora-progress-remaining-color, #f3f3f3);
@progress-text-margin: var(--dora-progress-text-margin, 20rpx);
@progress-radius: var(--dora-progress-radius, 100rpx);
