@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Input themes
// -----------------------------
@input-prefix-cls: ~'@{dora-prefix}-input';
@input-label-width: var(--dora-input-label-width, 210rpx);
@input-eye-size: var(--dora-input-eye-size, 32rpx);
