@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Card themes
// -----------------------------
@card-prefix-cls: ~'@{dora-prefix}-card';

@card-height: var(--dora-card-height, 96px);
@card-bg: var(--dora-card-background-color, @component-background);
@card-radius: var(--dora-card-radius, 10px);
@card-hd-padding: var(--dora-card-hd-padding, 9px @spacing-lg);
@card-bd-padding: var(--dora-card-bd-padding, @spacing-lg @spacing-lg 6px);
@card-ft-padding: var(--dora-card-ft-padding, 0 @spacing-lg);
@card-icon-size: var(--dora-card-icon-size, 32px);
