@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

@search-bar-prefix-cls: ~'@{dora-prefix}-search-bar';
@search-bar-bg: #efeff4;
@search-bar-input-height: 56rpx;
@search-bar-radius: 12rpx;
@search-bar-font-size: 28rpx;
