{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "indent": [2, 2, { "SwitchCase": 2 }],
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "strict": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "array-bracket-newline": [2, "consistent"],
    "jsx-quotes": [2, "prefer-double"]
  }
}
