@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

@segmented-control-prefix-cls: ~'@{dora-prefix}-segmented-control';
@segment-radius: 10rpx;
@segment-size: 54rpx;
@segment-margin: 0 0 20rpx;
@segment-font-size: 28rpx;
@segment-default-color: #fff;
@segment-light-bg: #ddd;
@segment-stable-bg: #ddd;
@segment-positive-bg: #0faeff;
@segment-calm-bg: #11c1f3;
@segment-assertive-bg: #ef473a;
@segment-balanced-bg: #33cd5f;
@segment-energized-bg: #ffc900;
@segment-royal-bg: #886aea;
@segment-dark-bg: #444;
