@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Ellipsis themes
// -----------------------------
@ellipsis-prefix-cls: ~'@{dora-prefix}-ellipsis';
@ellipsis-line-height: var(--dora-ellipsis-line-height, 1.5);
@ellipsis-action-color: var(--dora-ellipsis-action-color, @positive);
