@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Spin themes
// -----------------------------
@spin-prefix-cls: ~'@{dora-prefix}-spin';
@spin-font-size: 28rpx;
@spin-line-height: 1.5;
@spin-color: #333;
@spin-dot-size-base: 38rpx;
@spin-dot-size-sm: 24rpx;
@spin-dot-size-lg: 56rpx;
