@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Navbar themes
// -----------------------------
@navbar-prefix-cls: ~'@{dora-prefix}-navbar';
@navbar-size: var(--dora-navbar-size, 88rpx);
@navbar-margin: var(--dora-navbar-margin, 24rpx);
@navbar-font-size: var(--dora-navbar-font-size, 28rpx);
@navbar-light-bg: var(--dora-navbar-light-bg, #fff);
@navbar-default-color: var(--dora-navbar-default-color, #333);
@navbar-active-color: var(--dora-navbar-active-color, #fff);
@navbar-stable-bg: var(--dora-navbar-stable-bg, #f8f8f8);
@navbar-positive-bg: var(--dora-navbar-positive-bg, #387ef5);
@navbar-calm-bg: var(--dora-navbar-calm-bg, #11c1f3);
@navbar-assertive-bg: var(--dora-navbar-assertive-bg, #ef473a);
@navbar-balanced-bg: var(--dora-navbar-balanced-bg, #33cd5f);
@navbar-energized-bg: var(--dora-navbar-energized-bg, #ffc900);
@navbar-royal-bg: var(--dora-navbar-royal-bg, #886aea);
@navbar-dark-bg: var(--dora-navbar-dark-bg, #444);
