@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Badge themes
// -----------------------------
@badge-prefix-cls: ~'@{dora-prefix}-badge';
@badge-height: var(--dora-badge-height, 18px);
@badge-dot-size: var(--dora-badge-dot-size, 8px);
@badge-status-size: var(--dora-badge-status-size, 6px);
@badge-font-size: var(--dora-badge-font-size, @font-size-sm);

@badge-bg: var(--dora-badge-bg, #ed3f14);
@badge-color: var(--dora-badge-color, #fff);

@badge-success-bg: var(--dora-badge-success-bg, #52c41a);
@badge-processing-bg: var(--dora-badge-processing-bg, #1890ff);
@badge-normal-bg: var(--dora-badge-normal-bg, #d9d9d9);
@badge-error-bg: var(--dora-badge-error-bg, #f5222d);
@badge-warning-bg: var(--dora-badge-warning-bg, #faad14);
