@import '../node_modules/@doraemon-ui/style/lib/index.less';

// ActionSheet themes
// -----------------------------
@action-sheet-prefix-cls: ~'@{dora-prefix}-action-sheet';

// Layout
@action-sheet-margin: 10px;
@action-sheet-border-radius: 12px;

// Colors
@action-sheet-options-bg: var(--dora-action-sheet-options-bg, rgba(var(--dora-white-rgb, 255, 255, 255), 0.65));
@action-sheet-options-normal-bg: var(--dora-action-sheet-options-normal-bg, @component-background);
@action-sheet-options-cancel-bg: var(--dora-action-sheet-options-cancel-bg, @component-background);
@action-sheet-options-active-bg: var(--dora-action-sheet-options-active-bg, @active-state-bg);
@action-sheet-options-text-color: var(--dora-action-sheet-text-color, #007aff);
@action-sheet-options-border-color: var(--dora-action-sheet-border-color, @border-color-split);
@action-sheet-options-destructive-text-color: var(--dora-action-sheet-destructive-text-color, #ff3b30);

// Icon
@action-sheet-icon-size: 20px;
