@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// NoticeBar themes
// -----------------------------
@notice-bar-prefix-cls: ~'@{dora-prefix}-notice-bar';
@notice-bar-bg: var(--dora-notice-bar-bg, #fffbe8);
@notice-bar-height: var(--dora-notice-bar-height, 72rpx);
@notice-bar-font-size: var(--dora-notice-bar-font-size, 26rpx);
@notice-bar-color: var(--dora-notice-bar-color, #f76a24);
@notice-bar-icon-margin: var(--dora-notice-bar-icon-margin, 16rpx);
@notice-bar-icon-size: var(--dora-notice-bar-icon-size, 32rpx);
