@import "../node_modules/@doraemon-ui/style/lib/index.less";

// List themes
// -----------------------------
@list-prefix-cls: ~'@{dora-prefix}-list';
@list-bg: @component-background;
@list-icon-size: 20px;
@list-padding: @spacing-xl;
@list-hd-padding: @spacing-xl @spacing-xl @spacing-base;
@list-ft-padding: @spacing-base @spacing-xl @spacing-xl;
