@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Index themes
// -----------------------------
@index-prefix-cls: ~'@{dora-prefix}-index';
@index-item-prefix-cls: ~'@{dora-prefix}-index-item';

@index-nav-size: var(--dora-index-nav-size, 40rpx);
@index-nav-font-size: var(--dora-index-nav-font-size, 24rpx);
@index-nav-padding: var(--dora-index-nav-padding, 12rpx);
@index-indicator-size: var(--dora-index-indicator-size, 96rpx);
@index-indicator-bg: var(--dora-index-indicator-bg, rgba(0, 0, 0, 0.65));
@index-indicator-color: var(--dora-index-indicator-color, #fff);
@index-indicator-font-size: var(--dora-index-indicator-font-size, 40rpx);
@index-indicator-border-radius: var(--dora-index-indicator-border-radius, 12rpx);

@index-item-bg: var(--dora-index-item-bg, #f7f7f7);
@index-item-size: var(--dora-index-item-size, 56rpx);
