@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Alert themes
// -----------------------------
@alert-prefix-cls: ~'@{dora-prefix}-alert';
@alert-padding-vertical: var(--dora-alert-padding-vertical, 10px);
@alert-padding-horizontal: var(--dora-alert-padding-horizontal, 15px);
@alert-thumb-size: var(--dora-alert-thumb-size, 20px);
@alert-thumb-margin: var(--dora-alert-thumb-margin, @margin-component-base);
@alert-font-size: var(--dora-alert-font-size, @font-size-base);
@alert-border-radius: var(--dora-alert-border-radius, @border-radius-sm);
@alert-closable-margin-left: var(--dora-alert-closable-margin-left, @margin-component-base);
