@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Keyboard themes
// -----------------------------
@keyboard-prefix-cls: ~'@{dora-prefix}-keyboard';
@keyboard-bg: var(--dora-keyboard-bg, #f7f7f7);
@keyboard-input-size: var(--dora-keyboard-input-size, 80rpx);
@keyboard-dot-size: var(--dora-keyboard-dot-size, 16rpx);
@keyboard-dot-bg: var(--dora-keyboard-dot-bg, #333);
