@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Tabs themes
// -----------------------------
@tabs-prefix-cls: ~'@{dora-prefix}-tabs';

@tabs-font-size: var(--dora-tabs-font-size, @font-size-base);
@tabs-color: var(--dora-tabs-color, #80848f);
@tabs-height: var(--dora-tabs-height, 44px);
@tabs-bg: var(--dora-tabs-background-color, @component-background);
@tabs-vertical-height: var(--dora-tabs-vertical-height, @scroll-view-size);
@tabs-scrolling-size: var(--dora-tabs-scrolling-size, 15px);
@tabs-bar-size: var(--dora-tabs-bar-size, 2px);
@tabs-bar-light-bg: var(--dora-tabs-bar-light-bg, @light);
@tabs-bar-stable-bg: var(--dora-tabs-bar-stable-bg, @stable);
@tabs-bar-positive-bg: var(--dora-tabs-bar-positive-bg, @positive);
@tabs-bar-calm-bg: var(--dora-tabs-bar-calm-bg, @calm);
@tabs-bar-assertive-bg: var(--dora-tabs-bar-assertive-bg, @assertive);
@tabs-bar-balanced-bg: var(--dora-tabs-bar-balanced-bg, @balanced);
@tabs-bar-energized-bg: var(--dora-tabs-bar-energized-bg, @energized);
@tabs-bar-royal-bg: var(--dora-tabs-bar-royal-bg, @royal);
@tabs-bar-dark-bg: var(--dora-tabs-bar-dark-bg, @dark);
