@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Cascader themes
// -----------------------------
@cascader-prefix-cls: ~'@{dora-prefix}-cascader';

@cascader-font-size: var(--dora-cascader-font-size, @font-size-base);
@cascader-color: var(--dora-cascader-color, @heading-color);
@cascader-toolbar-bg: var(--dora-cascader-toolbar-bg, #f7f7f8);
