@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Divider themes
// -----------------------------
@divider-prefix-cls: ~'@{dora-prefix}-divider';
@divider-color: var(--dora-divider-color, @text-color-secondary);
@divider-font-size: var(--dora-divider-font-size, @font-size-lg);
@divider-border-color: var(--dora-divider-border-color, @border-color-base);
@divider-margin: var(--dora-divider-margin, @spacing-lg);
@divider-text-padding: var(--dora-divider-text-padding, @spacing-lg);
