@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

@result-prefix-cls: ~'@{dora-prefix}-result';
@result-bd-padding: 48rpx 40rpx;
@result-title-font-size: 48rpx;
@result-ft-padding: 32rpx;
