@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// ESign themes
// -----------------------------
@e-sign-prefix-cls: ~'@{dora-prefix}-e-sign';
@e-sign-padding: var(--dora-e-sign-padding, @spacing-lg);
@e-sign-bd-border-radius: var(--dora-e-sign-bd-border-radius, @border-radius-base);
@e-sign-border-color: var(--dora-e-sign-border-color, @border-color-base);
@e-sign-button-padding: var(--dora-e-sign-button-padding, @spacing-lg);
@e-sign-button-margin: var(--dora-e-sign-button-margin, @margin-component-lg);
