@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// InputNumber themes
// -----------------------------
@input-number-prefix-cls: ~'@{dora-prefix}-input-number';
@input-number-balanced-color: var(--dora-input-number-balanced-color, @balanced);
@input-number-disabled-color: var(--dora-input-number-disabled-color, #c7c7cc);
@input-number-light-color: var(--dora-input-number-light-color, @light);
@input-number-stable-color: var(--dora-input-number-stable-color, @stable);
@input-number-positive-color: var(--dora-input-number-positive-color, @positive);
@input-number-calm-color: var(--dora-input-number-calm-color, @calm);
@input-number-assertive-color: var(--dora-input-number-assertive-color, @assertive);
@input-number-energized-color: var(--dora-input-number-energized-color, @energized);
@input-number-royal-color: var(--dora-input-number-royal-color, @royal);
@input-number-dark-color: var(--dora-input-number-dark-color, @dark);
