@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

@steps-prefix-cls: ~'@{dora-prefix}-steps';
@step-prefix-cls: ~'@{dora-prefix}-step';
@steps-line-size: 4rpx;
@steps-icon-size: 48rpx;
@steps-default-color: #fff;
@steps-default-bg: #d9d9d9;
@steps-process-bg: #33cd5f;
@steps-wait-bg: #d9d9d9;
@steps-finish-bg: #33cd5f;
@steps-error-bg: #ef473a;
