@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Calendar themes
// -----------------------------
@calendar-prefix-cls: ~'@{dora-prefix}-calendar';

@calendar-height: var(--dora-calendar-height, 300px);
@calendar-bg: var(--dora-calendar-background-color, @component-background);
@calendar-text-color: var(--dora-calendar-text-color, #3d4145);
@calendar-disabled-text-color: var(--dora-calendar-disabled-text-color, #d4d4d4);
@calendar-prev-text-color: var(--dora-calendar-prev-text-color, @icon-color-base);
@calendar-next-text-color: var(--dora-calendar-next-text-color, @calendar-prev-text-color);
@calendar-today-text-color: var(--dora-calendar-today-text-color, #e3e3e3);
@calendar-active-text-color: var(--dora-calendar-active-text-color, @text-color-inverse);
@calendar-active-text-bg: var(--dora-calendar-active-text-bg, #0894ec);
@calendar-text-size: var(--dora-calendar-text-size, 30px);
@calendar-text-font-size: var(--dora-calendar-text-font-size, 15px);
