@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// CascaderView themes
// -----------------------------
@cascader-view-prefix-cls: ~'@{dora-prefix}-cascader-view';

@cascader-view-font-size: var(--dora-cascader-view-font-size, @font-size-base);
@cascader-view-bg: var(--dora-cascader-view-bg, @background-color-base);
@cascader-view-color: var(--dora-cascader-view-color, @heading-color);
@cascader-view-inner-bg: var(--dora-cascader-view-inner-bg, @component-background);
@cascader-view-scroll-view-size: var(--dora-cascader-view-scroll-view-size, @scroll-view-size);
