@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

@skeleton-prefix-cls: ~'@{dora-prefix}-skeleton';
@skeleton-avatar-prefix-cls: ~'@{dora-prefix}-skeleton-avatar';
@skeleton-paragraph-prefix-cls: ~'@{dora-prefix}-skeleton-paragraph';
@skeleton-bg: #f2f2f2;
@skeleton-to-bg: #e6e6e6;
@skeleton-radius: 8rpx;
@skeleton-avatar-size-base: 64rpx;
@skeleton-avatar-size-sm: 48rpx;
@skeleton-avatar-size-lg: 96rpx;
@skeleton-paragraph-size: 28rpx;
