@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

// Tabbar themes
// -----------------------------
@tabbar-prefix-cls: ~'@{dora-prefix}-tabbar';
@tabbar-item-prefix-cls: ~'@{dora-prefix}-tabbar-item';
@tabbar-height: 98rpx;
@tabbar-font-size: 24rpx;
@tabbar-bg: #fff;
@tabbar-default-color: #666;
@tabbar-light-bg: #ddd;
@tabbar-stable-bg: #b2b2b2;
@tabbar-positive-bg: #387ef5;
@tabbar-calm-bg: #11c1f3;
@tabbar-balanced-bg: #33cd5f;
@tabbar-energized-bg: #ffc900;
@tabbar-assertive-bg: #ef473a;
@tabbar-royal-bg: #886aea;
@tabbar-dark-bg: #444;
