@import '../../../node_modules/@doraemon-ui/style/lib/index.less';

@slider-prefix-cls: ~'@{dora-prefix}-slider';
@slider-rail-margin: 28rpx 0;
@slider-rail-size: 8rpx;
@slider-rail-bg: #e8e8e8;
@slider-track-bg: #33cd5f;
@slider-handle-bg: #fff;
@slider-handle-size: 32rpx;
@slider-font-size: 24rpx;
@slider-radius: 999rpx;
@slider-mark-bg: #bfbfbf;
@slider-margin: 16rpx;
